Afternoon instructions
In this lab, you will use learningSet.csv file which you have already cloned in the previous activities.
Instructions
Here we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

Check for null values in the numerical columns.
Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
Use appropriate EDA technique where ever necessary.

## Importing libraries and reading the data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

In [6]:
data = pd.read_csv('numerical7_02.csv')

In [7]:
data.shape

(50618, 324)

## Checking for null values

In [5]:
numerical = data.select_dtypes([object])

In [6]:
categorical.shape

(95412, 74)

## Checking for missing values and identifying columns with more than 85%

In [7]:
nulls_percent_categorical = pd.DataFrame(categorical.isna().sum()/len(categorical)).reset_index()
nulls_percent_categorical.columns = ['column_name', 'nulls_percentage']
nulls_percent_categorical

   column_name  nulls_percentage
0      OSOURCE          0.000000
1        STATE          0.000000
2          ZIP          0.000000
3     MAILCODE          0.000000
4     PVASTATE          0.000000
..         ...               ...
69      RFA_2A          0.000000
70    MDMAUD_R          0.000000
71    MDMAUD_F          0.000000
72    MDMAUD_A          0.000000
73    GEOCODE2          0.001383

[74 rows x 2 columns]

In [16]:
def filter_nulls(df, threshold=0.25):
    nulls_percent_df = pd.DataFrame(data.isna().sum()/len(data)).reset_index()
    nulls_percent_df.columns = ['column_name', 'nulls_percentage']
    columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>threshold]
    drop_columns_list = list(columns_above_threshold['column_name'])
    return drop_columns_list

In [ ]:
filter_nulls(categorical, threshold=0.85)

## Appending OSOURCE and ZIP in an empty list of potential columns to drop

In [11]:
drop_list = []
drop_list.extend(['OSOURCE', 'ZIP'])

## Reducing the number of unique values in the gender column

In [14]:
categorical['GENDER'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [15]:
print(categorical['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [ ]:
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [ ]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("U", "other"))

In [ ]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("J", "other"))

In [ ]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("C", "other"))

In [ ]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("A", "other"))

#def gender(x):
    for x in col:
        if (x != 'F') & (x != 'M')

#categorical['GENDER'] = categorical['GENDER'].map({'A':'other',
                             'C':'other',
                             'J':'other', 'U': 'other'})

## Checking for null values in the numerical columns.

## Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.

## Use appropriate EDA technique where necessary.